
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #E9D5CA;
}

h3 {
  margin-top: 10px;
  font-family: 'Antic Slab', serif;
}

p {
  margin: 10px 0;
  font-family: 'Antic Slab', serif;
  margin-bottom: 25px;
}

.data:hover{
  opacity: .5;
  transform: scale(1.1);
}
.dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.incomeListContainer {
  margin-top: 0px;
  width: center;
  background-color: #fdfdfd;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.data {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 80px;
  background-color: #c3e5ae;
  padding-top: 20px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: .3s;
}

.incomeList {
  background-color: #c3e5ae;
  padding: 60px 100px;
  width:1800px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 70px;
  column-gap: 20px;
  letter-spacing: 1.5px;


}
.incomeList:hover{
  opacity: .5;
  transform: scale(1.1);
}